.wrap {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	gap: 4px;
	padding: 8px;
	border: 1px solid var(--bg-wrap-hadith);
	border-radius: 8px;
	border-left-width: 5px;
	border-left-color: var(--bg-border-hadith);
	background-color: var(--bg-wrap-hadith);
	margin: 8px 0;

	strong {
		padding-left: 10px;
		font-size: 18px;
		margin-right: 16px;
	}

	p {
		font-size: 16px;
		padding: 0;
		margin: 0;
		padding-left: 16px;
	}

	section {
		display: flex;
		width: 100%;
		height: 100%;
		justify-content: start;
		align-items: center;
	}
}

.icon {
	width: 24px;
	height: 24px;
	background-color: #f1f1f1;
	color: var(--text-yellow-900);
}
.wrapIcon {
	border-radius: 50%;
	background-color: #f1f1f1;
	padding: 6px;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.src {
	align-self: flex-end;
}
